.list {
    list-style: none;
} 

.link {
text-decoration: none;
}

.container {
height: 1158px;

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.page-header { 
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    
}



.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    width: 115px;
    height: 24px;
    margin: 24px 0px 24px 156px;
    margin-right: 76px;
    margin-left: 156px;
}

.logo-text {
    color: #2e2f42;
}

.menu-list {
    display: flex;
    margin: auto;
    width: 261px;
    height: 24px;
    padding: 24px 0px 24px 76px;
    align-self: center;
    }


.menu-item {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}


.menu-link {
    color: #2e2f42;
    
    }

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.addres-list {
    font-style: normal;
    display: flex;    
    margin-left: 332px;
}

.list-adress {
    display: flex;

}

.link-addres {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    ;
}

.link-addres:hover,
.link-addres:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    height: 600px;
    width: 1440px;

}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    height: 120px;
    width: 496px;
    padding-top: 188px;
    padding-left: 472px;
}

.order-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4D5AE5;
    margin-top: 48px;
    margin-left: 636px;
}

.order-btn:hover,
.order-btn:focus {
    color: #404BBF; 
}

.section-list {
    padding-left: 156px;
    padding-top: 120px;
    height: 104px;
    width: 1128px;
}

.future-list {
    display: flex;
}

.future-list-item {
    width: 264px;
}

.future-list-item:not(:last-child) {
    margin-right: 24px;
}

.pic-section {
    height: 412px;
    width: 1128px;
    padding-top: 120px;
}


.sub-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    }

.sub-title-pic {
    width: 324px;
    margin-left: 559px;
}

.sub-title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.pic-list{
    display: flex;
    margin-top: 72px;
    padding-left: 156px;
}

.pic-list-item {
    width: 360px;
    height: 300px;
}

.pic-list-item:not(:last-child) {
    margin-right: 24px;
}

.par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
    background-color: #F4F4FD
}

.list-team {
    background-color: #FFFFFF
}

.foot {
    background-color: #2e2f42;
}

.logotext {
    color: #f4f4fd;
}

.par-f {
    color: #f4f4fd;
}

.main-port {

}

.but-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
    background-color: #F4F4FD;
}

.but-port:hover,
.but-port:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
